*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body {
    background-color: mistyrose;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px;
    font-family: inherit;
    background-color:linear-gradient (to bottom, #666699 45%,ffffff 100%)
}

header h1 {
    display: inline-block;
    font-size: 52px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Header.png");
    background-size: cover;
    background-position: center;
}