*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(211, 224, 236);
    font-family: 'Times New Roman', Times, serif;   
}   

header {
    padding: 20px;
    font-family: fantasy;
    background-color: rgb(19, 19, 54);
    color: rgba(173, 198, 32, 0.329);
}

header h1 {
    display: inline-block;
    font-size: 76px;
    color:rgba(236, 177, 105, 0.74);  
}

header a {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

header nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-shadow: 0 0 10px rgb(198, 198, 223);
}

header nav a :hover{
    background: saddlebrown;
    color: papayawhip;
}

#about-me img {
    width: 200px;
    height: 300px;  
    object-fit: scale-down ;
   
}


div h2 {
    text-align: center;
    text-emphasis-style: filled ;
    color: rgb(252, 252, 252);
    background-color: rgb(150, 146, 88);
    width: 344px;
    border-right: 3 solid rgb(49, 47, 48);
}



.flex-container {
    padding: 12vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media (min-width: 40rem) {
    .flex-container {
        flex-direction: row;
    }
}

.row2 {
    margin: 0 1vw;
    position: relative;
}

.row2 img {
    width: 500px;
    height: 800px;
    object-fit:contain;
}


.row2 h3 {
    color: rgb(9, 9, 228);
    font-size: 25px;
    font-weight: bolder;
    font-style: oblique;
    position: absolute;
}

.run img {
    width: 500px;
    height: 800px;
    object-fit: scale-down;
}


.flew-row {
   display: flex;
   
}













#contact-me{
    display: flex;
    justify-content: space-between;
    

}

.contact {
    flex: 1 2 250px;
    align-self: center
}














